<%= form_for @changeset, @action, fn f -> %>
  <div class="input-field">
    <%= text_input f, :title, placeholder: "title", class: "form-control" %>
    <%= error_tag f, :title %>
  </div>
  <%= submit "Save Topic", class: "btn btn-primary light-blue" %>
<% end %>
